<!DOCTYPE html>
<html>
    <head>
        <title>
            Timesheet Visualization About || Haskell
        </title>
        <h1>About</h1>
        <ul>
            <li>About topic 1</li>
            <li>About topic 2</li>
            <li>About topic 3</li>
        </ul>
        <p>the erb for this page is at app/views/static_pages/about.html.erb</p>
   </head>
</html>