<!DOCTYPE html>
<html>
    <head>
        <title>
            Timesheet Visualization Help || Haskell
        </title>
        <h1>Help</h1>
        <ul>
            <li>Help topic 1</li>
            <li>Help topic 2</li>
            <li>Help topic 3</li>
        </ul>
        <p>the erb for this page is at app/views/static_pages/help.html.erb</p>
   </head>
</html>