<!DOCTYPE html>
<html>
    <head>
        <title>
            Timesheet Visualization Home || Haskell
        </title>
        <h1>Home</h1>
        <ul>
            <h3>This is home!</h3>
        </ul>
        <p>the erb for this page is at app/views/static_pages/home.html.erb</p>
   </head>
</html>