<!DOCTYPE html>
<html>
    <head>
        <title>
            Timesheet Visualization Home || Haskell
        </title>
        <h1>Help</h1>
        <p>layout here</p>
        <p>the erb for this page is at app/views/static_pages/help.html.erb</p>
   </head>
</html>